@using GameZone.Resources
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<ShairedResource> SharedLocalizer

@{
    var Culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    Layout = null;
    // var controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Zone | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/GameZone.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary mb-3" data-bs-theme="dark" >
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-route-culture="@Culture">GameZone</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Game" asp-action="Index" asp-route-culture="@Culture">@SharedLocalizer["Games"]</a>
                        </li>                    
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Game" asp-action="RecentlyDeleted" asp-route-culture="@Culture">@SharedLocalizer["RecentlyDeleted"]</a>
                        </li>
                    </ul>

                    @if (Culture == "ar-SA")
                    {
                        <li class="nav-item dropdown">
                       
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ar</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="@controllerName" asp-action="Index" asp-route-culture="en-US">English</a>
                            </div>
                        </li>
                        }
                    
                    @if (Culture == "en-US")
                    {
                        <li class="nav-item dropdown">
                       
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">En</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="@controllerName" asp-action="Index" asp-route-culture="ar-SA">العربية</a>
                            </div>
                        </li>
                        }
                    
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Essam Zaki - <a asp-controller="Home" asp-action="Index">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
